/*GENERAL STYLES */

:root {
	--Pink: hsl(322, 100%, 66%);
	--VeryPaleCyan:  hsl(193, 100%, 96%);
	--VeryDarkCyan: hsl(192, 100%, 9%);
	--GrayishBlue: hsl(208, 11%, 55%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {

	box-sizing: inherit;
	font-size: 62.5%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8rem;
}

img {
	max-width: 100%;
}

ul > li {
	list-style: none;
}

a {
	text-decoration: none;
	color: white;
}

h1 , h2 {
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

p {
	line-height: 1.2;
}

.cta {
	font-family: 'Open Sans', sans-serif;
	border-radius: 50px;
	padding: 1rem 2.5rem;
	font-size: 1.3rem;
	font-weight: 700;
	-webkit-box-shadow: 10px 5px 39px -15px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 5px 39px -15px rgba(0,0,0,0.75);
	box-shadow: 10px 5px 39px -15px rgba(0,0,0,0.75);
}

.cta-white {
	display: inline-block;
	background-color: white;
	color: black;
}

.cta-white:hover {
	background-color: var(--Pink);
	color: white;
}

.cta-pink {
	display: inline-block;
	background-color: var(--Pink);
	color: white;
	margin: 3rem 0 5rem 0;
	padding: 1rem 5rem;
}

.cta-pink:hover {
	background-color: var(--VeryDarkCyan);
	color: white;
}

.attribution { 
	font-size: 11px; 					
	text-align: center;
 }
		
.attribution a { 
	color: hsl(228, 45%, 44%);
 }


/*Custom Styles: Mobile First*/

/*HERO*/
.hero {
	background-image: url(../images/bg-hero-mobile.svg);
	background-color: var(--VeryPaleCyan);
	background-repeat: no-repeat;
	margin-bottom: 8rem;

}

.header {
	display: flex;
	justify-content: space-between;
	padding: 2rem;
	margin-bottom: 5rem;
}

.header img  {
	display: inline-block;
	width: 100px;
  height: 25px;
	
}

.hero-container {
	padding: 3rem 6rem;
	text-align: center;
}

.hero-container h1 {
	font-size: 3rem;
	font-weight: 600;
	text-align: center;
	line-height: 1.5;
	margin-bottom: 2rem;
}



/*CARD CONTAINERS */
.main {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 90%;
}

.card-container {
	border: none;
	border-radius: 15px;
	text-align: center;
	margin-bottom: 3.5rem;
	-webkit-box-shadow: 1px 0px 18px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 0px 18px -8px rgba(0,0,0,0.75);
	box-shadow: 1px 0px 18px -8px rgba(0,0,0,0.75);
}

.card-container:last-of-type {
	margin-bottom: 0;
}

.card-container section {
	padding: 3rem;
}
.card-container img {
	padding: 5rem;
}

.card-container h2 {
	margin: 2rem 0 2rem 0;
}
 .card-text {
	 color: var(--GrayishBlue);
	 line-height: 1.5;
	 padding: 2rem;
 }

 /* JOIN */

 .join {
	background: #fff;
	width: 700px;
	max-width: 100%;
	margin: 0 auto;
	margin-top: 9.375rem;
	margin-bottom: -6.25rem;
	border-radius: 0.625rem;
	
 }

 .join h2 {
	padding: 5rem 2rem 0 2rem;
	font-size: 2rem;
	
 }

 .card-join {
 	 border-radius: 15px;
	 text-align: center;
	 -webkit-box-shadow: 1px 0px 18px -8px rgba(0,0,0,0.75);
	 -moz-box-shadow: 1px 0px 18px -8px rgba(0,0,0,0.75);
	 box-shadow: 1px 0px 18px -8px rgba(0,0,0,0.75);
 }

 .join .cta-pink {
	font-size: 1.3rem;
	margin: 2rem 0 5rem 0;
}

 /*FOOTER*/
 .site-footer {
	 display: flex;
	 background-color: var(--VeryDarkCyan);
	 color: white;

 }

 .footer-content {
	 margin: 15rem auto 0 auto;
	 max-width: 90%;
 }

 .site-footer .logo {
	 display: inline-block;
		filter: brightness(0) invert(1);
		padding: 20px;
		width: 250px;
  
 }


 .contact-info ul li {
	 
	 padding-left: 1rem;
	 margin-bottom: 2rem;
	 line-height: 1.5;
	 width: 400px;
	
 }

 .contact-info img {
 	display: inline-block;
 	margin-right: 2rem;
 }

 

 .about ul li a {
	 display: inline-block;
	 margin-bottom: 2rem;
 }

 .about ul li a:hover {
 	
 	color: var(--Pink);
 }

 .social-media {
	 display: flex;
	 justify-content: center;
	 text-align: center;
	 align-items: center;
	 font-size: 1.5rem;
	 margin: 2.5rem;
 }

 .social-media i {
	 border: 1px solid white;
	 border-radius: 25px;
	 margin-left: 1em;
	 padding: 1rem;
 }



 .site-footer span {
	 display: block;
	 font-size: 1.5rem;
	 margin: 5rem auto 5rem auto;
	 text-align: center;
 }

/*Custom Styles: Desktop*/
@media screen and (min-width: 768px) {
	

	.hero {
		background-image: url(../images/bg-hero-desktop.svg);
		padding: 2rem;
		
	}

	.header img  {
		width: 200px;
		height: 50px;
	}

	.cta-white {
		font-size: 1.6rem;
		padding: 1rem 6rem ;
	}

	.cta-pink {
		font-size: 2rem;
	}

	.hero-container {
		display: flex;
	}

	.col1 {
		padding: 0;
		margin: 0;
		text-align: left;
	}

	.col1 h1 {
		font-size: 6rem ;
		text-align: left;
		width: 800px;
	}

	.col1 h2 {
		text-align: left;
	}

	.col1 p {
		font-size: 2rem;
		padding: 0 1rem;
		line-height: 1.5;
	}

	.col2 {
		width: max-content;
	}

	.card-container {
		display: flex;
		align-items: center;
		text-align: left;
		padding: 0 9rem 0 9rem;
	}

	.card-container:nth-child(even) {
		flex-direction: row-reverse;
	}

	.join .cta-pink {
		font-size: 2rem;

	}

	.footer-content {
	    padding: 5rem;
	    display: flex;
	    justify-content: space-between;
	
 	}
	

	.about {
		margin: 3rem;
		padding: 4rem;
		width: 300px;
	}

	.site-footer span {
		align-self: flex-end;
		margin: 0;
		padding: 0;
		width: 600px;
	}

	.social-media  {
		margin-top: -7rem;
	}


 }


	


	

	



